/.project
/.vs
/packages
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/TTS Companion.csprojAssemblyReference.cache
obj/Debug/TTS_Companion_MarkupCompile.cache
*.so
*.pdb
*.dll
*.exe
*.dylib
bin/Debug/CSCore.xml
bin/Debug/Google.Api.CommonProtos.xml
bin/Debug/Google.Api.Gax.Grpc.GrpcCore.xml
bin/Debug/Google.Api.Gax.Grpc.xml
bin/Debug/Google.Api.Gax.xml
bin/Debug/Google.Apis.Auth.xml
bin/Debug/Google.Apis.Core.xml
bin/Debug/Google.Apis.xml
bin/Debug/Google.Cloud.TextToSpeech.V1.xml
bin/Debug/Google.Protobuf.xml
bin/Debug/Grpc.Auth.xml
bin/Debug/Grpc.Core.Api.xml
bin/Debug/Grpc.Core.xml
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/Newtonsoft.Json.xml
bin/Debug/System.Buffers.xml
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/TTS_Companion.exe.config
*.cache
obj/Debug/TTS Companion.csproj.CopyComplete
obj/Debug/TTS Companion.csproj.FileListAbsolute.txt
obj/Debug/TTS_Companion.exe.config
obj/Debug/TTS_Companion.g.resources
obj/Debug/TTS_Companion.Properties.Resources.resources
obj/Debug/TTS_Companion_Content.g.cs
obj/Debug/TTS_Companion_Content.g.i.cs
bin/Debug/tts_settings.xml
*.deploy
*.application
*.manifest
obj/Release/TTS_Companion_Content.g.i.cs
obj/Release/TTS_Companion_Content.g.cs
obj/Release/TTS_Companion.Properties.Resources.resources
obj/Release/TTS_Companion.g.resources
obj/Release/TTS_Companion.exe.config
obj/Release/TTS Companion.csproj.FileListAbsolute.txt
obj/Release/TTS Companion.csproj.CopyComplete
obj/Release/MainWindow.g.i.cs
obj/Release/MainWindow.g.cs
obj/Release/MainWindow.baml
obj/Release/App.g.i.cs
obj/Release/App.g.cs
obj/Release/_IsIncrementalBuild
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
bin/Release/tts_settings.xml
bin/Release/TTS_Companion.exe.config
bin/Release/System.Threading.Tasks.Extensions.xml
bin/Release/System.Runtime.CompilerServices.Unsafe.xml
bin/Release/System.Numerics.Vectors.xml
bin/Release/System.Memory.xml
bin/Release/System.Buffers.xml
bin/Release/Newtonsoft.Json.xml
bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
bin/Release/Grpc.Core.xml
bin/Release/Grpc.Core.Api.xml
bin/Release/Grpc.Auth.xml
bin/Release/Google.Protobuf.xml
bin/Release/Google.Cloud.TextToSpeech.V1.xml
bin/Release/Google.Apis.xml
bin/Release/Google.Apis.Core.xml
bin/Release/Google.Apis.Auth.xml
bin/Release/Google.Api.Gax.xml
bin/Release/Google.Api.Gax.Grpc.xml
bin/Release/Google.Api.Gax.Grpc.GrpcCore.xml
bin/Release/Google.Api.CommonProtos.xml
bin/Release/CSCore.xml
